<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body class="cnt-home">
<!-- ============================================== HEADER ============================================== -->
<header class="header-style-1" th:fragment="header">

    <!-- ============================================== TOP MENU ============================================== -->
    <div class="top-bar animate-dropdown">
        <div class="container">
            <div class="header-top-inner">
                <div class="cnt-account">
                    <ul class="list-unstyled">
                        <li><a th:href="@{/account}" id="userName"><i class="icon fa fa-user"></i>My Account</a></li>
                        <script>
                            document.getElementById('userName').innerHTML=getCookie("username");
                            function getCookie(cname) {
                                let name = cname + "=";
                                let ca = document.cookie.split(';');
                                for(let i = 0; i < ca.length; i++) {
                                    let c = ca[i];
                                    while (c.charAt(0) == ' ') {
                                        c = c.substring(1);
                                    }
                                    if (c.indexOf(name) == 0) {
                                        return c.substring(name.length, c.length);
                                    }
                                }
                                return "";
                            }
                        </script>
                        <li><a th:href="@{/mywishlist}"><i class="icon fa fa-heart"></i>Wishlist</a></li>
                        <li><a th:href="@{/cart}"><i class="icon fa fa-shopping-cart"></i>My Cart</a></li>
                        <li><a th:href="@{/checkout}"><i class="icon fa fa-check"></i>Checkout</a></li>
                        <li><a th:href="@{/signout}"><i class="icon fa fa-lock"></i>Logout</a></li>
                    </ul>
                </div>
                <!-- /.cnt-account -->

                <div class="clearfix"></div>
            </div>
            <!-- /.header-top-inner -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.header-top -->
    <!-- ============================================== TOP MENU : END ============================================== -->
    <div class="main-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 logo-holder">
                    <!-- ============================================================= LOGO ============================================================= -->
                    <div class="logo"> <a th:href="@{/}"> <img src="assets\images\logo.png" alt="logo"> </a> </div>
                    <!-- /.logo -->
                    <!-- ============================================================= LOGO : END ============================================================= --> </div>
                <!-- /.logo-holder -->

                <div class="col-xs-12 col-sm-12 col-md-7 top-search-holder">
                    <!-- /.contact-row -->
                    <!-- ============================================================= SEARCH AREA ============================================================= -->
                    <div class="search-area">
                        <form>
                            <div class="control-group">
                                <input class="search-field" placeholder="Search here...">
                                <a class="search-button" href="#"></a> </div>
                        </form>
                    </div>
                    <!-- /.search-area -->
                    <!-- ============================================================= SEARCH AREA : END ============================================================= --> </div>
                <!-- /.top-search-holder -->

                <div class="col-xs-12 col-sm-12 col-md-2 animate-dropdown top-cart-row">
                    <!-- ============================================================= SHOPPING CART DROPDOWN ============================================================= -->

                    <div class="dropdown dropdown-cart"> <a href="#" class="dropdown-toggle lnk-cart" data-toggle="dropdown" th:with="totalQuantyCart = ${session.totalQuantyCart}">
                        <div class="items-cart-inner">
                            <div class="basket"> <i class="glyphicon glyphicon-shopping-cart"></i> </div>
                            <div class="basket-item-count"><span class="count" th:text="${session.totalQuantyCart}">4</span></div>
                            <div class="total-price-basket"> <span class="lbl">cart -</span> <span class="total-price"> <span class="sign">$</span><span class="value" th:text="${session.TotalPriceCart}">600.00</span> </span> </div>
                        </div>
                    </a>
                        <ul id="cart" class="dropdown-menu">
                            <li>
                                <div class="cart-item product-summary" th:each="item:${session.Cart}" >
                                    <div class="row" th:with="product=${item.value.product}">
                                        <div class="basket-item-count"><span class="count" th:text="${item.value.amount}">4</span></div>
                                        <div class="col-xs-4">
                                            <div class="image"> <a th:href="@{/product(productID=${product.id})}"><img th:each="image:${listImageGroupProduct}" th:if="${image.productId == product.id}" th:src="${image.src}" alt=""></a> </div>
                                        </div>
                                        <div class="col-xs-7">
                                            <h3 class="name"><a th:href="@{/product(productID=${product.id})}" th:text="${product.name}">Simple Product</a></h3>
                                            <div class="price">$<span th:text="${product.price * (100 - product.discount) / 100}"></span></div>
                                            <div class="count"></div>
                                        </div>
                                        <div class="col-xs-1 action"> <a th:onclick="'deleteCart(' + ${product.id} + ')'"><i class="fa fa-trash"></i></a> </div>
                                    </div>
                                </div>
                                <!-- /.cart-item -->
                                <div class="clearfix"></div>
                                <hr>
                                <div class="clearfix cart-total">
                                    <div class="pull-right"> <span class="text">Sub Total :</span><span class='price'>$<span th:text="${session.TotalPriceCart}"></span></span> </div>
                                    <div class="clearfix"></div>
                                    <a th:href="@{/checkout}" class="btn btn-upper btn-primary btn-block m-t-20">Checkout</a>
                                </div>
                                <!-- /.cart-total-->

                            </li>
                        </ul>
                        <!-- /.dropdown-menu-->
                    </div>
                    <!-- /.dropdown-cart -->

                    <!-- ============================================================= SHOPPING CART DROPDOWN : END============================================================= --> </div>
                <!-- /.top-cart-row -->
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.main-header -->

    <!-- ============================================== NAVBAR ============================================== -->
    <div class="header-nav animate-dropdown">
        <div class="container">
            <div class="yamm navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button data-target="#mc-horizontal-menu-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                </div>
                <div class="nav-bg-class">
                    <div class="navbar-collapse collapse" id="mc-horizontal-menu-collapse">
                        <div class="nav-outer">
                            <ul class="nav navbar-nav">
                                <li class="active dropdown yamm-fw"> <a th:href="@{/}" class="dropdown">Home</a> </li>
                                <th:block th:each="category, cstate:${listcategory}">
                                    <li class="dropdown" th:if="${cstate.index<7}"> <a th:href="@{/category(cateId=${category.id})}" th:text="${category.name}"></a> </li>
                                </th:block>
                                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Pages</a>
                                    <ul class="dropdown-menu pages">
                                        <li>
                                            <div class="yamm-content">
                                                <div class="row">
                                                    <div class="col-xs-12 col-menu">
                                                        <ul class="links">
                                                            <li><a th:href="@{/}">Home</a></li>
                                                            <li><a th:href="@{/category}">Category</a></li>
                                                            <li><a th:href="@{/cart}">Shopping Cart Summary</a></li>
                                                            <li><a th:href="@{/checkout}" >Checkout</a></li>
                                                            <li><a th:href="@{/account}">Manager Account</a></li>
                                                            <li><a th:href="@{/mywishlist}">Wishlist</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- /.navbar-nav -->
                            <div class="clearfix"></div>
                        </div>
                        <!-- /.nav-outer -->
                    </div>
                    <!-- /.navbar-collapse -->

                </div>
                <!-- /.nav-bg-class -->
            </div>
            <!-- /.navbar-default -->
        </div>
        <!-- /.container-class -->

    </div>
    <!-- /.header-nav -->
    <!-- ============================================== NAVBAR : END ============================================== -->

</header>
</body>