<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- Meta -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<meta name="description" content="">
		<meta name="author" content="">
	    <meta name="keywords" content="MediaCenter, Template, eCommerce">
	    <meta name="robots" content="all">

	    <title>Product detail</title>

	    <!-- Bootstrap Core CSS -->
	    <link rel="stylesheet" href="assets\css\bootstrap.min.css">
	    
	    <!-- Customizable CSS -->
	    <link rel="stylesheet" href="assets\css\main.css">
	    <link rel="stylesheet" href="assets\css\blue.css">
	    <link rel="stylesheet" href="assets\css\owl.carousel.css">
		<link rel="stylesheet" href="assets\css\owl.transitions.css">
		<link rel="stylesheet" href="assets\css\animate.min.css">
		<link rel="stylesheet" href="assets\css\rateit.css">
		<link rel="stylesheet" href="assets\css\bootstrap-select.min.css">
        <link href="assets\css\lightbox.css" rel="stylesheet">

		<!-- Icons/Glyphs -->
		<link rel="stylesheet" href="assets\css\font-awesome.css">

        <!-- Fonts --> 
		<link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>


	</head>
	<body class="cnt-home">
		<!-- ============================================== HEADER ============================================== -->
<div th:insert="include/homeHeader::header"></div>

<!-- ============================================== HEADER : END ============================================== -->
<div class="breadcrumb">
	<div class="container">
		<div class="breadcrumb-inner">
			<ul class="list-inline list-unstyled">
				<li><a th:href="@{/}">Home</a></li>
				<li><a th:each="category:${listcategory}" th:if="${product.category == category}" th:href="@{/category(cateId=${category.id})}" th:text="${category.name}"></a></li>
				<li class='active' th:text="${product.name}"></li>
			</ul>
		</div><!-- /.breadcrumb-inner -->
	</div><!-- /.container -->
</div><!-- /.breadcrumb -->
<div class="body-content outer-top-xs">
	<div class='container'>
		<div class='row single-product'>
			<div class='col-md-3 sidebar'>
				<div class="sidebar-module-container">
				<div class="home-banner outer-top-n">
<img src="assets\images\banners\LHS-banner.jpg" alt="Image">
</div>		
  
    
    
    	<!-- ============================================== HOT DEALS ============================================== -->
					<div class="sidebar-widget hot-deals wow fadeInUp outer-bottom-xs">
						<h3 class="section-title">hot deals</h3>
						<div class="owl-carousel sidebar-carousel custom-carousel owl-theme outer-top-ss">
							<div class="item" th:each="product:${listTopDiscount}">
								<div class="products">
									<div class="hot-deal-wrapper">
										<div class="image"><a th:href="@{/product(productID=${product.id})}"><img th:each="image:${listImageGroupProduct}" th:if="${image.productId == product.id}" th:src="${image.src}" alt=""> </a> </div>
										<div class="sale-offer-tag"><span th:text="${product.discount}">49%</span><br>
											<span>off</span></div>
									</div>
									<!-- /.hot-deal-wrapper -->

									<div class="product-info text-left m-t-20">
										<h3 class="name"><a th:href="@{/product(productID=${product.id})}" th:text="${product.name}"></a></h3>
										<div class="rating rateit-small" th:data-rateit-value="${product.voteEver/1}"></div>
										<div class="product-price"> $<span class="price" th:text="${product.price * (100 - product.discount) / 100}">  </span> $<span class="price-before-discount" th:text="${product.price}"></span> </div>
										<!-- /.product-price -->

									</div>
									<!-- /.product-info -->

									<div class="cart clearfix animate-effect">
										<div class="action">
											<div class="add-cart-button btn-group" th:if="${product.amount > 0}">
												<button th:onclick="'addCart(' + ${product.id} + ')'" class="btn btn-primary icon" data-toggle="dropdown" type="button"> <i class="fa fa-shopping-cart"></i> </button>
												<button th:onclick="'addCart(' + ${product.id} + ')'"  class="btn btn-primary cart-btn" type="button">Add to cart</button>
											</div>
										</div>
										<!-- /.action -->
									</div>
									<!-- /.cart -->
								</div>
							</div>
						</div>
						<!-- /.sidebar-widget -->
					</div>
<!-- ============================================== HOT DEALS: END ============================================== -->

					<!-- ============================================== PRODUCT TAGS ============================================== -->
					<div class="sidebar-widget product-tag wow fadeInUp">
						<h3 class="section-title">Product tags</h3>
						<div class="sidebar-widget-body outer-top-xs">
							<div class="tag-list" > <a th:each="cate, cstate:${listAllTag}" th:if="${cstate.index < 10}" class="item" title="Phone" href="category.html" th:text="${cate}">Phone</a>  </div>
							<!-- /.tag-list -->
						</div>
						<!-- /.sidebar-widget-body -->
					</div>
					<!-- /.sidebar-widget -->
					<!-- ============================================== PRODUCT TAGS : END ============================================== -->

 

				</div>
			</div><!-- /.sidebar -->
			<div class='col-md-9'>
				<div class="detail-block">
					<div class="row  wow fadeInUp">
						<div class="col-xs-12 col-sm-6 col-md-5 gallery-holder">
							<div class="product-item-holder size-big single-product-gallery small-gallery">
								<div id="owl-single-product">
									<div class="single-product-gallery-item" th:each="image, istate:${listImage}" th:id="${istate.count}">
										<a data-lightbox="image-1" data-title="Gallery" th:href="${image.src}">
											<img class="img-responsive" alt="" src="assets\images\blank.gif" th:data-echo="${image.src}">
										</a>
									</div><!-- /.single-product-gallery-item -->

								</div><!-- /.single-product-slider -->

								<div class="single-product-gallery-thumbs gallery-thumbs">
									<div id="owl-single-product-thumbnails">
										<div class="item" th:each="image, istate:${listImage}">
											<a class="horizontal-thumb active" data-target="#owl-single-product" data-slide="1" th:with="id=${istate.count}" th:href="${'#' + id}">
												<img class="img-responsive" width="85" alt="" src="assets\images\blank.gif" th:data-echo="${image.src}">
											</a>
										</div>
									</div><!-- /#owl-single-product-thumbnails -->
								</div><!-- /.gallery-thumbs -->
							</div><!-- /.single-product-gallery -->
						</div><!-- /.gallery-holder -->
						<div class='col-sm-6 col-md-7 product-info-block'>
							<div class="product-info">
								<h1 class="name" th:text="${product.name}"></h1>

								<div class="rating-reviews m-t-20">
									<div class="row">
										<div class="col-sm-3">
											<div class="rating rateit-small" th:data-rateit-value="${product.voteEver/1}"></div>
										</div>
										<div class="col-sm-8">
											<div class="reviews"> (
												<span th:text="${#lists.size(ratingByProduct)}"></span> Reviews)
											</div>
										</div>
									</div><!-- /.row -->
								</div><!-- /.rating-reviews -->

								<div class="stock-container info-container m-t-10">
									<div class="row">
										<div class="col-sm-2">
											<div class="stock-box">
												<span class="label">Availability :</span>
											</div>
										</div>
										<div class="col-sm-9">
											<div class="stock-box">
												<span class="value" th:if="${product.amount > 0}">In Stock</span>
												<span class="value" th:if="${product.amount == 0}">Out Stock</span>
											</div>
										</div>
									</div><!-- /.row -->
								</div><!-- /.stock-container -->

								<div class="description-container m-t-20" th:text="${product.desc}">

								</div><!-- /.description-container -->

								<div class="price-container info-container m-t-20">
									<div class="row">


										<div class="col-sm-6">
											<div class="price-box" >
												<span class="price">$</span> <span class="price" th:utext="${product.price * (100 - product.discount) / 100}"></span>
												<span class="price-strike">$</span><span class="price-strike" th:text="${product.price}"></span>
											</div>
										</div>

										<div class="col-sm-6">
											<div class="favorite-button m-t-10">
												<a class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Wishlist" th:href="@{/mywishlist(productId=${product.id})}">
													<i class="fa fa-heart"></i>
												</a>
											</div>
										</div>

									</div><!-- /.row -->
								</div><!-- /.price-container -->

								<div class="quantity-container info-container">
									<div class="row">

										<div class="col-sm-2">
											<span class="label">Qty :</span>
										</div>

										<div class="col-sm-2">
											<div class="cart-quantity">
												<div class="quant-input">
<!--													<div class="arrows">-->
<!--													  <div class="arrow plus gradient"><span class="ir"><i class="icon fa fa-sort-asc"></i></span></div>-->
<!--													  <div class="arrow minus gradient"><span class="ir"><i class="icon fa fa-sort-desc"></i></span></div>-->
<!--													</div>-->
													<input type="number" id="quanty" min="1" value="1">
											  </div>
											</div>
										</div>

										<div class="col-sm-7" th:if="${product.amount > 0}">
											<a th:onclick="'addCart(' + ${product.id} + ')'" class="btn btn-primary"><i class="fa fa-shopping-cart inner-right-vs"></i> ADD TO CART</a>
										</div>


									</div><!-- /.row -->
								</div><!-- /.quantity-container -->
							</div><!-- /.product-info -->
						</div><!-- /.col-sm-7 -->
					</div><!-- /.row -->
				</div>
				<div class="product-tabs inner-bottom-xs  wow fadeInUp">
						<div class="row">
							<div class="col-sm-3">
								<ul id="product-tabs" class="nav nav-tabs nav-tab-cell">
									<li class="active"><a data-toggle="tab" href="#description">DESCRIPTION</a></li>
									<li><a data-toggle="tab" href="#review">REVIEW</a></li>
									<li><a data-toggle="tab" href="#tags">QUESTION</a></li>
								</ul><!-- /.nav-tabs #product-tabs -->
							</div>
							<div class="col-sm-9">

								<div class="tab-content">

									<div id="description" class="tab-pane in active">
										<div class="product-tab">
											<p class="text" th:text="${product.desc}"></p>
										</div>
									</div><!-- /.tab-pane -->

									<div id="review" class="tab-pane">
										<div class="product-tab">

											<div class="product-reviews">
												<h4 class="title">Customer Reviews</h4>

												<div id="reviews" class="reviews">
													<div class="review" th:each="review:${ratingByProduct}">
														<div th:text="${review.user.name}"></div>
														<div class="col-sm-3">
															<div class="rating rateit-small" th:data-rateit-value="${review.star}"></div>
														</div>
														<div class="review-title"><span class="summary" th:text="${review.content}">We love this product</span><span class="date"><i class="fa fa-calendar"></i><span>1 days ago</span></span></div>
													</div>
												</div><!-- /.reviews -->
											</div><!-- /.product-reviews -->

											<div class="product-add-review" th:if="${#lists.size(ratingByProductAndUser) == 0 && #lists.size(listOPByProductAndUser) >0}">
												<h4 class="title">Write your own review</h4>
												<div class="review-table">
													<div class="table-responsive">
														<table class="table">
															<thead>
																<tr>
																	<th class="cell-label">&nbsp;</th>
																	<th>1 star</th>
																	<th>2 stars</th>
																	<th>3 stars</th>
																	<th>4 stars</th>
																	<th>5 stars</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td class="cell-label">Rating</td>
																	<td><input type="radio" name="quality" class="radio" value="1"></td>
																	<td><input type="radio" name="quality" class="radio" value="2"></td>
																	<td><input type="radio" name="quality" class="radio" value="3"></td>
																	<td><input type="radio" name="quality" class="radio" value="4"></td>
																	<td><input type="radio" name="quality" class="radio" value="5"></td>
																</tr>
															</tbody>
														</table><!-- /.table .table-bordered -->
													</div><!-- /.table-responsive -->
												</div><!-- /.review-table -->

												<div class="review-form">
													<div class="form-container">
														<form role="form" class="cnt-form">

															<div class="row">
																<div class="form-group">
																	<label for="exampleInputReview">Review <span class="astk">*</span></label>
																	<textarea class="form-control txt txt-review" id="exampleInputReview" rows="4" placeholder=""></textarea>
																</div><!-- /.form-group -->
															</div><!-- /.row -->

															<div class="action text-right">
																<button th:onclick="'addreview(' + ${product.id} +')'" class="btn btn-primary btn-upper">SUBMIT REVIEW</button>
															</div><!-- /.action -->

														</form><!-- /.cnt-form -->
													</div><!-- /.form-container -->
												</div><!-- /.review-form -->

											</div><!-- /.product-add-review -->

										</div><!-- /.product-tab -->
									</div><!-- /.tab-pane -->

									<div id="tags" class="tab-pane">
										<div class="product-tag">

											<h4 class="title">Question for us</h4>
											<form role="form" class="form-inline form-cnt">
												<div class="form-container">
													<div class="form-group">
														<label for="exampleInputTag">Add Your Question: </label>
														<textarea class="form-control txt txt-review" id="exampleInputTag" rows="4" placeholder=""></textarea>
													</div>
													<button th:onclick="'addquestion(' + ${product.id} +')'" class="btn btn-upper btn-primary" type="submit">ADD QUESTION</button>
												</div><!-- /.form-container -->
											</form><!-- /.form-cnt -->

											<form role="form" class="form-inline form-cnt">
												<div class="form-group">
													<label>&nbsp;</label>
													<span class="text col-md-offset-3">You can make many question.</span>
												</div>
											</form><!-- /.form-cnt -->

										</div><!-- /.product-tab -->
									</div><!-- /.tab-pane -->

								</div><!-- /.tab-content -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.product-tabs -->

					<!-- ============================================== UPSELL PRODUCTS ============================================== -->
				<section class="section featured-product wow fadeInUp">
					<h3 class="section-title">upsell products</h3>
					<div class="owl-carousel home-owl-carousel upsell-product custom-carousel owl-theme outer-top-xs">
						<div class="item item-carousel" th:each="product:${productsByTag}">
							<div class="products">
								<div class="product">
									<div class="product-image">
										<div class="image">
											<a th:href="@{/product(productID=${product.id})}"><img th:each="image:${listImageGroupProduct}" th:if="${image.productId == product.id}" th:src="${image.src}" alt=""></a>
										</div><!-- /.image -->

										<div class="tag sale"><span>sale</span></div>
									</div><!-- /.product-image -->

									<div class="product-info text-left">
										<h3 class="name"><a th:href="@{/product(productID=${product.id})}" th:text="${product.name}">Floral Print Buttoned</a></h3>
										<div class="rating rateit-small" th:data-rateit-value="${product.voteEver/1}"></div>
										<div class="description" th:text="${product.desc}"></div>
										<div class="product-price"> $<span class="price" th:text="${product.price * (100 - product.discount) / 100}">  </span> $<span class="price-before-discount" th:text="${product.price}"></span> </div>

									</div><!-- /.product-info -->
									<div class="cart clearfix animate-effect">
										<div class="action">
											<ul class="list-unstyled">
												<li class="add-cart-button btn-group" th:if="${product.amount > 0}">
													<button th:onclick="'addCart(' + ${product.id} + ')'" class="btn btn-primary icon" data-toggle="dropdown" type="button">
														<i class="fa fa-shopping-cart"></i>
													</button>
<!--													<button th:onclick="'addCart(' + ${product.id} + ')'" class="btn btn-primary cart-btn" type="button">Add to cart</button>												</li>-->

												<li class="lnk wishlist">
													<a th:href="@{/mywishlist(productId=${product.id})}" class="add-to-cart"  title="Wishlist">
														<i class="icon fa fa-heart"></i>
													</a>
												</li>
											</ul>
											</div><!-- /.action -->
									</div><!-- /.cart -->
								</div><!-- /.product -->

							</div><!-- /.products -->
						</div><!-- /.item -->
					</div><!-- /.home-owl-carousel -->
				</section><!-- /.section -->
<!-- ============================================== UPSELL PRODUCTS : END ============================================== -->
			
			</div><!-- /.col -->
			<div class="clearfix"></div>
		</div><!-- /.row -->
		<!-- ============================================== BRANDS CAROUSEL ============================================== -->
<div id="brands-carousel" class="logo-slider wow fadeInUp">

		<div class="logo-slider-inner">	
			<div id="brand-slider" class="owl-carousel brand-slider custom-carousel owl-theme">
				<div class="item m-t-15">
					<a href="#" class="image">
						<img data-echo="assets/images/brands/brand1.png" src="assets\images\blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item m-t-10">
					<a href="#" class="image">
						<img data-echo="assets/images/brands/brand2.png" src="assets\images\blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="assets/images/brands/brand3.png" src="assets\images\blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="assets/images/brands/brand4.png" src="assets\images\blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="assets/images/brands/brand5.png" src="assets\images\blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="assets/images/brands/brand6.png" src="assets\images\blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="assets/images/brands/brand2.png" src="assets\images\blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="assets/images/brands/brand4.png" src="assets\images\blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="assets/images/brands/brand1.png" src="assets\images\blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="assets/images/brands/brand5.png" src="assets\images\blank.gif" alt="">
					</a>	
				</div><!--/.item-->
		    </div><!-- /.owl-carousel #logo-slider -->
		</div><!-- /.logo-slider-inner -->
	
</div><!-- /.logo-slider -->
<!-- ============================================== BRANDS CAROUSEL : END ============================================== -->	</div><!-- /.container -->
</div><!-- /.body-content -->

<!-- ============================================================= FOOTER ============================================================= -->
		<div th:insert="include/homeFooter.html"></div>
<!-- ============================================================= FOOTER : END============================================================= -->

	<!-- For demo purposes – can be removed on production -->

	<!-- For demo purposes – can be removed on production : End -->

	<!-- JavaScripts placed at the end of the document so the pages load faster -->
	<script src="assets\js\jquery-1.11.1.min.js"></script>
	
	<script src="assets\js\bootstrap.min.js"></script>
	
	<script src="assets\js\bootstrap-hover-dropdown.min.js"></script>
	<script src="assets\js\owl.carousel.min.js"></script>
	
	<script src="assets\js\echo.min.js"></script>
	<script src="assets\js\jquery.easing-1.3.min.js"></script>
	<script src="assets\js\bootstrap-slider.min.js"></script>
    <script src="assets\js\jquery.rateit.min.js"></script>
    <script type="text/javascript" src="assets\js\lightbox.min.js"></script>
    <script src="assets\js\bootstrap-select.min.js"></script>
    <script src="assets\js\wow.min.js"></script>
	<script src="assets\js\scripts.js"></script>

	<script src="assets\js\listcart.js"></script>
	<script src="assets\js\reviewquestion.js"></script>

</body>
</html>
