<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="keywords" content="MediaCenter, Template, eCommerce">
  <meta name="robots" content="all">
  <title>SHOP FLIPMART HOME</title>

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="assets\css\bootstrap.min.css">

  <!-- Customizable CSS -->
  <link rel="stylesheet" href="assets\css\main.css">
  <link rel="stylesheet" href="assets\css\blue.css">
  <link rel="stylesheet" href="assets\css\owl.carousel.css">
  <link rel="stylesheet" href="assets\css\owl.transitions.css">
  <link rel="stylesheet" href="assets\css\animate.min.css">
  <link rel="stylesheet" href="assets\css\rateit.css">
  <link rel="stylesheet" href="assets\css\bootstrap-select.min.css">

  <!-- Icons/Glyphs -->
  <link rel="stylesheet" href="assets\css\font-awesome.css">

  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body class="cnt-home">
  <!-- ============================================== HEADER ============================================== -->
    <div th:insert="include/homeHeader::header"></div>

  <!-- ============================================== HEADER : END ============================================== -->
  <div class="body-content outer-top-xs" id="top-banner-and-menu">
    <div class="container">
      <div class="row">
        <!-- ============================================== SIDEBAR ============================================== -->
        <div class="col-xs-12 col-sm-12 col-md-3 sidebar">

          <!-- ================================== TOP NAVIGATION ================================== -->
          <div class="side-menu animate-dropdown outer-bottom-xs">
            <div class="head"><i class="icon fa fa-align-justify fa-fw"></i> Categories</div>
            <nav class="yamm megamenu-horizontal">
              <ul class="nav" th:each="category, cstate:${listTagWithCategory}">
                <li class="dropdown menu-item">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i th:class="${listClass[cstate.index]}" aria-hidden="true"></i><span th:text="${listcategory[cstate.index].name}"></span></a>
                  <ul class="dropdown-menu mega-menu">
                    <li class="yamm-content">
                      <div class="row">
                        <div class="col-sm-12 col-md-3" th:with="i = ${#lists.size(category)/7}" th:each="t, s:${category}">
                          <div th:if="${s.index <= i}">
                            <ul class="links list-unstyled" th:each="tag, tstate:${category}">
                              <li th:if="${tstate.index>=(s.index*8) and tstate.index<=(s.index+1)*8}">
                                <a th:href="@{/category(tag=${tag})}" th:text="${tag}"></a>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- /.row -->
                    </li>
                    <!-- /.yamm-content -->
                  </ul>
                  <!-- /.dropdown-menu --> </li>
                <!-- /.menu-item -->
              </ul>
              <!-- /.nav -->
            </nav>
            <!-- /.megamenu-horizontal -->
          </div>
          <!-- /.side-menu -->
          <!-- ================================== TOP NAVIGATION : END ================================== -->

          <!-- ============================================== HOT DEALS ============================================== -->
          <div class="sidebar-widget hot-deals wow fadeInUp outer-bottom-xs">
            <h3 class="section-title">hot deals</h3>
            <div class="owl-carousel sidebar-carousel custom-carousel owl-theme outer-top-ss">
              <div class="item" th:each="product:${listTopDiscount}">
                <div class="products">
                  <div class="hot-deal-wrapper">
                    <div class="image">
                      <a th:href="@{/product(productID=${product.id})}">
                        <img th:each="image:${listImageGroupProduct}" th:if="${image.productId == product.id}" th:src="${image.src}" alt="">
                      </a>
                    </div>
                    <div class="sale-offer-tag"><span th:text="${product.discount}">49%</span><br>
                      <span>off</span></div>
                  </div>
                  <!-- /.hot-deal-wrapper -->

                  <div class="product-info text-left m-t-20">
                    <h3 class="name"><a th:href="@{/product(productID=${product.id})}" th:text="${product.name}"></a></h3>
                    <div class="rating rateit-small" th:data-rateit-value="${product.voteEver/1}"></div>
                    <div class="product-price"> $<span class="price" th:text="${product.price * (100 - product.discount) / 100}">  </span> $<span class="price-before-discount" th:text="${product.price}"></span> </div>
                    <!-- /.product-price -->

                  </div>
                  <!-- /.product-info -->

                  <div class="cart clearfix animate-effect">
                    <div class="action">
                      <div class="add-cart-button btn-group" th:if="${product.amount > 0}">
                        <button class="btn btn-primary icon" data-toggle="dropdown" type="button"> <i class="fa fa-shopping-cart"></i> </button>
                        <button th:onclick="'addCart(' + ${product.id} + ')'"  class="btn btn-primary cart-btn" type="button">Add to cart</button>
                      </div>
                    </div>
                    <!-- /.action -->
                  </div>
                  <!-- /.cart -->
                </div>
              </div>
            </div>
            <!-- /.sidebar-widget -->
          </div>
          <!-- ============================================== HOT DEALS: END ============================================== -->

          <!-- ============================================== TOP RATING ============================================== -->

          <div class="sidebar-widget outer-bottom-small wow fadeInUp">
            <h3 class="section-title">TOP RATING</h3>
            <div class="sidebar-widget-body outer-top-xs">
              <div class="owl-carousel sidebar-carousel special-offer custom-carousel owl-theme outer-top-xs">
                <div class="item">
                  <div class="products special-product" th:each="product:${listTopVoteEver}">
                    <div class="product">
                      <div class="product-micro">
                        <div class="row product-micro-row">
                          <div class="col col-xs-5">
                            <div class="product-image">
                              <div class="image"> <a th:href="@{/product(productID=${product.id})}"><img th:each="image:${listImageGroupProduct}" th:if="${image.productId == product.id}" th:src="${image.src}" alt=""></a> </div>
                              <!-- /.image -->

                            </div>
                            <!-- /.product-image -->
                          </div>
                          <!-- /.col -->
                          <div class="col col-xs-7">
                            <div class="product-info">
                              <h3 class="name"><a th:href="@{/product(productID=${product.id})}" th:text="${product.name}">Floral Print Shirt</a></h3>
                              <div class="rating rateit-small" th:data-rateit-value="${product.voteEver/1}"></div>
                              <div class="product-price"> $<span class="price" th:text="${product.price}"> $450.99 </span> </div>
                              <!-- /.product-price -->

                            </div>
                          </div>
                          <!-- /.col -->
                        </div>
                        <!-- /.product-micro-row -->
                      </div>
                      <!-- /.product-micro -->

                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="products special-product" th:each="product:${listTopVoteEver}">
                    <div class="product">
                      <div class="product-micro">
                        <div class="row product-micro-row">
                          <div class="col col-xs-5">
                            <div class="product-image">
                              <div class="image"> <a th:href="@{/product(productID=${product.id})}"><img th:each="image:${listImageGroupProduct}" th:if="${image.productId == product.id}" th:src="${image.src}" alt=""></a> </div>
                              <!-- /.image -->

                            </div>
                            <!-- /.product-image -->
                          </div>
                          <!-- /.col -->
                          <div class="col col-xs-7">
                            <div class="product-info">
                              <h3 class="name"><a th:href="@{/product(productID=${product.id})}" th:text="${product.name}">Floral Print Shirt</a></h3>
                              <div class="rating rateit-small" th:data-rateit-value="${product.voteEver/1}"></div>
                              <div class="product-price"> $<span class="price" th:text="${product.price}"> $450.99 </span> </div>
                              <!-- /.product-price -->

                            </div>
                          </div>
                          <!-- /.col -->
                        </div>
                        <!-- /.product-micro-row -->
                      </div>
                      <!-- /.product-micro -->

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.sidebar-widget-body -->
          </div>
          <!-- /.sidebar-widget -->
          <!-- ============================================== TOP RATING : END ============================================== -->
          <!-- ============================================== PRODUCT TAGS ============================================== -->
          <div class="sidebar-widget product-tag wow fadeInUp">
            <h3 class="section-title">Product tags</h3>
            <div class="sidebar-widget-body outer-top-xs">
              <div class="tag-list" > <a th:each="cate, cstate:${listAllTag}" th:if="${cstate.index < 10}" class="item" title="Phone" href="category.html" th:text="${cate}">Phone</a>  </div>
              <!-- /.tag-list -->
            </div>
            <!-- /.sidebar-widget-body -->
          </div>
          <!-- /.sidebar-widget -->
          <!-- ============================================== PRODUCT TAGS : END ============================================== -->

          <div class="home-banner"> <img src="assets\images\banners\LHS-banner.jpg" alt="Image"> </div>
        </div>
        <!-- /.sidemenu-holder -->
        <!-- ============================================== SIDEBAR : END ============================================== -->

        <!-- ============================================== CONTENT ============================================== -->
        <div class="col-xs-12 col-sm-12 col-md-9 homebanner-holder">
          <!-- ========================================== SECTION – HERO ========================================= -->

          <div id="hero">
            <div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">
              <div class="item" style="background-image: url(../assets/images/sliders/01.jpg)">
                <div class="container-fluid">
                  <div class="caption bg-color vertical-center text-left">
                    <div class="slider-header fadeInDown-1">Top Brands</div>
                    <div class="big-text fadeInDown-1"> New Collections </div>
                    <div class="excerpt fadeInDown-2 hidden-xs"> <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span> </div>
                    <div class="button-holder fadeInDown-3"> <a  class="btn-lg btn btn-uppercase btn-primary shop-now-button">Shop Now</a> </div>
                  </div>
                  <!-- /.caption -->
                </div>
                <!-- /.container-fluid -->
              </div>
              <!-- /.item -->

              <div class="item" style="background-image: url(assets/images/sliders/02.jpg);">
                <div class="container-fluid">
                  <div class="caption bg-color vertical-center text-left">
                    <div class="slider-header fadeInDown-1">Spring 2016</div>
                    <div class="big-text fadeInDown-1"> Women <span class="highlight">Fashion</span> </div>
                    <div class="excerpt fadeInDown-2 hidden-xs"> <span>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</span> </div>
                    <div class="button-holder fadeInDown-3"> <a  class="btn-lg btn btn-uppercase btn-primary shop-now-button">Shop Now</a> </div>
                  </div>
                  <!-- /.caption -->
                </div>
                <!-- /.container-fluid -->
              </div>
              <!-- /.item -->

            </div>
            <!-- /.owl-carousel -->
          </div>

          <!-- ========================================= SECTION – HERO : END ========================================= -->

          <!-- ============================================== INFO BOXES ============================================== -->
          <div class="info-boxes wow fadeInUp">
            <div class="info-boxes-inner">
              <div class="row">
                <div class="col-md-6 col-sm-4 col-lg-4">
                  <div class="info-box">
                    <div class="row">
                      <div class="col-xs-12">
                        <h4 class="info-box-heading green">money back</h4>
                      </div>
                    </div>
                    <h6 class="text">30 Days Money Back Guarantee</h6>
                  </div>
                </div>
                <!-- .col -->

                <div class="hidden-md col-sm-4 col-lg-4">
                  <div class="info-box">
                    <div class="row">
                      <div class="col-xs-12">
                        <h4 class="info-box-heading green">free shipping</h4>
                      </div>
                    </div>
                    <h6 class="text">Shipping on orders over $99</h6>
                  </div>
                </div>
                <!-- .col -->

                <div class="col-md-6 col-sm-4 col-lg-4">
                  <div class="info-box">
                    <div class="row">
                      <div class="col-xs-12">
                        <h4 class="info-box-heading green">Special Sale</h4>
                      </div>
                    </div>
                    <h6 class="text">Extra $5 off on all items </h6>
                  </div>
                </div>
                <!-- .col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.info-boxes-inner -->
          </div>
          <!-- /.info-boxes -->
          <!-- ============================================== INFO BOXES : END ============================================== -->
          <!-- ============================================== SCROLL TABS ============================================== -->
          <div id="product-tabs-slider" class="scroll-tabs outer-top-vs wow fadeInUp">
            <div class="more-info-tab clearfix ">
              <h3 class="new-product-title pull-left">New Products</h3>
              <ul class="nav nav-tabs nav-tab-line pull-right" id="new-products-1"
                <li><a data-transition-type="backSlide"  data-toggle="tab">Clothing</a></li>
                <li><a data-transition-type="backSlide"  data-toggle="tab">Electronics</a></li>
                <li><a data-transition-type="backSlide"  data-toggle="tab">Shoes</a></li>
              </ul>
              <!-- /.nav-tabs -->
            </div>
            <div class="tab-content outer-top-xs">
              <div class="tab-pane in active" id="all">
                <div class="product-slider">
                  <div class="owl-carousel home-owl-carousel custom-carousel owl-theme" data-item="4" >
                    <div class="item item-carousel" th:each="product:${listNewProduct}">
                      <div class="products">
                        <div class="product">
                          <div class="product-image">
                            <div class="image"> <a th:href="@{/product(productID=${product.id})}"><img th:each="image:${listImageGroupProduct}" th:if="${image.productId == product.id}" th:src="${image.src}" alt=""></a> </div>
                            <!-- /.image -->

                            <div class="tag new"><span>new</span></div>
                          </div>
                          <!-- /.product-image -->

                          <div class="product-info text-left">
                            <h3 class="name"><a th:href="@{/product(productID=${product.id})}" th:text="${product.name}">Floral Print Buttoned</a></h3>
                            <div class="rating rateit-small" th:data-rateit-value="${product.voteEver/1}"></div>
                            <div class="description"></div>
                            <div class="product-price"> $<span class="price" th:text="${product.price * (100 - product.discount) / 100}">  </span> $<span class="price-before-discount" th:text="${product.price}"></span> </div>
                            <!-- /.product-price -->

                          </div>
                          <!-- /.product-info -->
                          <div class="cart clearfix animate-effect">
                            <div class="action">
                              <ul class="list-unstyled">
                                <li class="add-cart-button btn-group" th:if="${product.amount > 0}">
                                  <button th:onclick="'addCart(' + ${product.id} + ')'" data-toggle="tooltip" class="btn btn-primary icon" type="button" title="Add Cart"> <i class="fa fa-shopping-cart"></i> </button>
                                  <button class="btn btn-primary cart-btn" type="button">Add to cart</button>
                                </li>
                                <li class="lnk wishlist"> <a th:href="@{/mywishlist(productId=${product.id})}" data-toggle="tooltip" class="add-to-cart" href="detail.html" title="Wishlist"> <i class="icon fa fa-heart"></i> </a> </li>
                              </ul>
                            </div>
                            <!-- /.action -->
                          </div>
                          <!-- /.cart -->
                        </div>
                        <!-- /.product -->

                      </div>
                      <!-- /.products -->
                    </div>
                    <!-- /.item -->


                  </div>
                  <!-- /.home-owl-carousel -->
                </div>
                <!-- /.product-slider -->
              </div>
              <!-- /.tab-pane -->

            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.scroll-tabs -->
          <!-- ============================================== SCROLL TABS : END ============================================== -->
          <!-- ============================================== WIDE PRODUCTS ============================================== -->
          <div class="wide-banners wow fadeInUp outer-bottom-xs">
            <div class="row">
              <div class="col-md-7 col-sm-7">
                <div class="wide-banner cnt-strip">
                  <div class="image"> <img class="img-responsive" src="assets\images\banners\home-banner1.jpg" alt=""> </div>
                </div>
                <!-- /.wide-banner -->
              </div>
              <!-- /.col -->
              <div class="col-md-5 col-sm-5">
                <div class="wide-banner cnt-strip">
                  <div class="image"> <img class="img-responsive" src="assets\images\banners\home-banner2.jpg" alt=""> </div>
                </div>
                <!-- /.wide-banner -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.wide-banners -->

          <!-- ============================================== WIDE PRODUCTS : END ============================================== -->

          <!-- ============================================== BEST SELLER ============================================== -->

          <div class="best-deal wow fadeInUp outer-bottom-xs">
            <h3 class="section-title">Best seller</h3>
            <div class="sidebar-widget-body outer-top-xs">
              <div class="owl-carousel best-seller custom-carousel owl-theme outer-top-xs">
                <div class="item" th:each="product, pstate:${listBestSeller}">
                  <div class="products best-product">
                    <div class="product" th:if="${pstate.even}">
                      <div class="product-micro">
                        <div class="row product-micro-row">
                          <div class="col col-xs-5">
                            <div class="product-image">
                              <div class="image"> <a th:href="@{/product(productID=${product.id})}"><img th:each="image:${listImageGroupProduct}" th:if="${image.productId == product.id}" th:src="${image.src}" alt=""></a> </div><!-- /.image -->

                            </div>
                            <!-- /.product-image -->
                          </div>
                          <!-- /.col -->
                          <div class="col2 col-xs-7">
                            <div class="product-info">
                              <h3 class="name"><a th:href="@{/product(productID=${product.id})}" th:text="${product.name}"></a></h3>
                              <div class="rating rateit-small" th:data-rateit-value="${product.voteEver/1}"></div>
                              <div class="product-price">$<span class="price" th:text="${product.price}"></span></div>
                              <!-- /.product-price -->

                            </div>
                          </div>
                          <!-- /.col -->
                        </div>
                        <!-- /.product-micro-row -->
                      </div>
                      <!-- /.product-micro -->

                    </div>
                    <div class="product" th:if="${pstate.odd}">
                      <div class="product-micro">
                        <div class="row product-micro-row">
                          <div class="col col-xs-5">
                            <div class="product-image">
                              <div class="image"> <a th:href="@{/product(productID=${product.id})}"><img th:each="image:${listImageGroupProduct}" th:if="${image.productId == product.id}" th:src="${image.src}" alt=""></a> </div><!-- /.image -->

                            </div>
                            <!-- /.product-image -->
                          </div>
                          <!-- /.col -->
                          <div class="col2 col-xs-7">
                            <div class="product-info">
                              <h3 class="name"><a th:href="@{/product(productID=${product.id})}" th:text="${product.name}"></a></h3>
                              <div class="rating rateit-small" th:data-rateit-value="${product.voteEver/1}"></div>
                              <div class="product-price">$<span class="price" th:text="${product.price}"></span></div>
                              <!-- /.product-price -->

                            </div>
                          </div>
                          <!-- /.col -->
                        </div>
                        <!-- /.product-micro-row -->
                      </div>
                      <!-- /.product-micro -->

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.sidebar-widget-body -->
          </div>
          <!-- /.sidebar-widget -->
          <!-- ============================================== BEST SELLER : END ============================================== -->

          <!-- ============================================== WIDE PRODUCTS ============================================== -->
          <div class="wide-banners wow fadeInUp outer-bottom-xs">
            <div class="row">
              <div class="col-md-12">
                <div class="wide-banner cnt-strip">
                  <div class="image"> <img class="img-responsive" src="assets\images\banners\home-banner.jpg" alt=""> </div>
                  <div class="strip strip-text">
                    <div class="strip-inner">
                      <h2 class="text-right">New Mens Fashion<br>
                        <span class="shopping-needs">Save up to 40% off</span></h2>
                    </div>
                  </div>
                  <div class="new-label">
                    <div class="text">NEW</div>
                  </div>
                  <!-- /.new-label -->
                </div>
                <!-- /.wide-banner -->
              </div>
              <!-- /.col -->

            </div>
            <!-- /.row -->
          </div>
          <!-- /.wide-banners -->
          <!-- ============================================== WIDE PRODUCTS : END ============================================== -->

        </div>
        <!-- /.homebanner-holder -->
        <!-- ============================================== CONTENT : END ============================================== -->
      </div>
      <!-- /.row -->
      <!-- ============================================== BRANDS CAROUSEL ============================================== -->
      <div id="brands-carousel" class="logo-slider wow fadeInUp">
        <div class="logo-slider-inner">
          <div id="brand-slider" class="owl-carousel brand-slider custom-carousel owl-theme">
            <div class="item m-t-15"> <a href="#" class="image"> <img data-echo="assets/images/brands/brand1.png" src="assets\images\blank.gif" alt=""> </a> </div>
            <!--/.item-->

            <div class="item m-t-10"> <a href="#" class="image"> <img data-echo="assets/images/brands/brand2.png" src="assets\images\blank.gif" alt=""> </a> </div>
            <!--/.item-->

            <div class="item"> <a href="#" class="image"> <img data-echo="assets/images/brands/brand3.png" src="assets\images\blank.gif" alt=""> </a> </div>
            <!--/.item-->

            <div class="item"> <a href="#" class="image"> <img data-echo="assets/images/brands/brand4.png" src="assets\images\blank.gif" alt=""> </a> </div>
            <!--/.item-->

            <div class="item"> <a href="#" class="image"> <img data-echo="assets/images/brands/brand5.png" src="assets\images\blank.gif" alt=""> </a> </div>
            <!--/.item-->

            <div class="item"> <a href="#" class="image"> <img data-echo="assets/images/brands/brand6.png" src="assets\images\blank.gif" alt=""> </a> </div>
            <!--/.item-->

            <div class="item"> <a href="#" class="image"> <img data-echo="assets/images/brands/brand2.png" src="assets\images\blank.gif" alt=""> </a> </div>
            <!--/.item-->

            <div class="item"> <a href="#" class="image"> <img data-echo="assets/images/brands/brand4.png" src="assets\images\blank.gif" alt=""> </a> </div>
            <!--/.item-->

            <div class="item"> <a href="#" class="image"> <img data-echo="assets/images/brands/brand1.png" src="assets\images\blank.gif" alt=""> </a> </div>
            <!--/.item-->

            <div class="item"> <a href="#" class="image"> <img data-echo="assets/images/brands/brand5.png" src="assets\images\blank.gif" alt=""> </a> </div>
            <!--/.item-->
          </div>
          <!-- /.owl-carousel #logo-slider -->
        </div>
        <!-- /.logo-slider-inner -->

      </div>
      <!-- /.logo-slider -->
      <!-- ============================================== BRANDS CAROUSEL : END ============================================== -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /#top-banner-and-menu -->

  <!-- ============================================================= FOOTER ============================================================= -->
  <div th:insert="include/homeFooter.html"></div>
  <!-- ============================================================= FOOTER : END============================================================= -->

  <!-- For demo purposes – can be removed on production -->

  <!-- For demo purposes – can be removed on production : End -->

  <!-- JavaScripts placed at the end of the document so the pages load faster -->
  <script src="assets\js\jquery-1.11.1.min.js"></script>
  <script src="assets\js\bootstrap.min.js"></script>
  <script src="assets\js\bootstrap-hover-dropdown.min.js"></script>
  <script src="assets\js\owl.carousel.min.js"></script>
  <script src="assets\js\echo.min.js"></script>
  <script src="assets\js\jquery.easing-1.3.min.js"></script>
  <script src="assets\js\bootstrap-slider.min.js"></script>
  <script src="assets\js\jquery.rateit.min.js"></script>
  <script type="text/javascript" src="assets\js\lightbox.min.js"></script>
  <script src="assets\js\bootstrap-select.min.js"></script>
  <script src="assets\js\wow.min.js"></script>
  <script src="assets\js\scripts.js"></script>

  <script src="assets\js\listcart.js"></script>
  </body>
</html>
